{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Booking</h1>
    <ul>
        <form action="{{ path('booking_create') }}" method="post">
        <li>
            <label>Participant:</label>
            <select name="participantId">
                {% for participant in participants %}
                    <option value="{{ participant.id }}">
                        {{ participant.lastname }},&nbsp;{{ participant.firstname }}&nbsp;({{ participant.email }})&nbsp;#{{ participant.id }}
                    </option>
                {% endfor %}
            </select>
        </li>
        <li>
            <label>Course:</label>
            <select name="courseId">
                {% for course in courses %}
                    <option value="{{ course.id }}">
                        {{ course.title }}&nbsp;({{ course.courseDate|date('Y-m-d H:i:s') }})&nbsp;-&nbsp;#{{ course.id }}
                    </option>
                {% endfor %}
            </select>
        </li>
        <input type="submit" value="Book"/>
        </form>
    </ul>
    <li><a href="{{ path('overview') }}">Back to Overview</a></li>
</div>
{% endblock %}
