{% extends 'base.html.twig' %}

{% block title %}Courses History{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Courses History</h1>
    <ul>
        <li><label>Show History by Course</label>
            <form action="{{ path('courses_history_by_course') }}">
                <select name="id">
                {% for course in courses %}
                    <option value="{{ course.id }}">
                        {{ course.title }}&nbsp;({{ course.date }})&nbsp;-&nbsp;#{{ course.id }}
                    </option>
                {% endfor %}
                </select>
                <input type="submit" value="Show"/>
            </form>
        </li>
        <li><label>Show History by Participant</label>
            <form action="{{ path('courses_history_by_participant') }}">
                <select>
                    {% for participant in participants %}
                        <option value="{{ participant.id }}">
                            {{ participant.lastname }},&nbsp;{{ participant.firstname }}&nbsp;({{ participant.email }})&nbsp;-&nbsp;#{{ participant.id }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Show"/>
            </form>
        </li>
    </ul>
</div>
{% endblock %}
