{% block participants_fields %}
    <li>First name:<input name="firstname" value="{{ participant.fistname }}"/></li>
    <li>Last name:<input name="lastname" value="{{ participant.lastname }}"/></li>
    <li>eMail:<input name="email" value="{{ participant.email }}"/></li>
    <li>Unit:<input name="unit" value="{{ participant.unit }}"/></li>
    <li>Password:<input name="password" value="{{ participant.password }}" type="password"></li>
{% endblock %}
